@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eff8ff;
  --foreground: #1a1a1a;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Onest, Inter, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--blue);
  color: var(--white);
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
