@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eff8ff;
  --foreground: #f3f2f2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, Geist, Helvetica, sans-serif;
  
}

p {
  color: #1b1418;
}

span {
  color: #1b1418;
}

h1, h2 {
  color: #1b1418;
}
